.button {
  border-radius: var(--radius-sm);
  display: inline-block;
  padding: var(--space-md) var(--space-lg);
  text-decoration: none;
  font-weight: 700;
  border: 1px solid;
  transition: all 100ms;
}

.button:hover {
  color: inherit;
  opacity: 0.5;
}