.button {
  border-radius: var(--radius-sm);
  display: inline-block;
  padding: var(--space-md) var(--space-lg);
  text-decoration: none;
  font-weight: 700;
  border: 1px solid;
  color: currentColor;
  font-size: var(--text-button);
  line-height: 1.3;
}