.divider {
  border: 0;
  border-top: 2px solid var(--black-fade-5);
  margin: var(--size-gutter-vertical) auto;
}

.short {
  width: 25%;
}
.half {
  width: 50%;
}
.long {
  width: 75%;
}

.full {
  width: 100%;
}
