.hero {
  background: var(--primary);
}

.background {
  align-items: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  filter: grayscale(100%);
  mix-blend-mode: screen;
  justify-content: flex-start;
}

.inner {
  color: var(--white);
  max-width: var(--size-half-width);
}

.title {
  font-size: var(--text-title);
}

.subheading {
  margin-bottom: var(--size-gutter);
}
