.tile {
  background: var(--white);
  border-radius: var(--radius-sm);
  border: 1px solid var(--black-fade-5);
  color: var(--text-color);
  display: block;
  height: 100%;
  overflow: hidden;
  padding: var(--size-gutter);
  text-align: left;
  transition: all var(--transition-duration-m);
  box-shadow: #0002 0 5px 10px;
  transform: scale(1);
}

.tile:hover {
  opacity: 1;
  transform: scale(1.05);
  box-shadow: #0002 0 5px 15px;
}

.icon {
  color: var(--secondary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text-4xl);
  padding: var(--space-lg);
  position: relative;
  margin-bottom: var(--size-gutter);
}

.icon::before {
  content: '';
  background: currentColor;
  border-radius: var(--radius-md);
  height: 100%;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 100%;
}

.title {
  margin-top: 0;
}