.container {
  margin-bottom: var(--space-4xl);
}

.body p:first-child {
  margin-top: 0;
}

.title {
  margin-top: 0;
}

@media (min-width: 1200px) {
  .container {
    display: flex;
    justify-content: space-between;
    margin: var(--space-6xl) 0;
  }

  .header {
    text-align: right;
    padding-right: var(--size-gutter);
  }

  .body {
    width: 75%;
  }

  .right {
    flex-direction: row-reverse;
  }

  .right .header {
    text-align: left;
    padding-right: 0;
    padding-left: var(--size-gutter);
  }

  .right .body {
    text-align: right;
  }
}